#calculator {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #eee;
}

#display {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 24px;
  text-align: right;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.button {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.number {
  background-color: #ddd;
}

.operator {
  background-color: #f59b00;
  color: white;
}
